<div class="main-content col-md-12">	
    <div class="welcome-user">
        Welcome <u> UserName</u>
    </div>
    <div class='wrap' ng-app='app'style="display:block; text-align:center;">
		  <div class='time-to'>
		    Pick Your Team Now For Next Match
		    <span countdown='' date='May 20, 2016 12:00:00'>&nbsp;</span>
		    <span class="timer-bg"></span>
		  </div>
	</div>
	<!-- <strong>Pick You Teams Now and Win Unlimited Prizes</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
	    <a href="#/chooseteam">
	    	<button type="button" class="btn btn-info pick-team-btn"><img class="team-picker-image" src="css/img/picker.png"> Pick Team Now</button>
	    </a>
	    <div class="container-fluid gifts-text"> Lots of prizes are waiting for you.. HuRRy... </div>
	    <div class="home-middle container-fluid">

	    	<div class="row">
	    		<div class="col-md-12">
	    			<div class="gifts-img">
	    				<img src="css/img/gift.png">
	    			</div>
	    				<div class="prizes1">
	    					<img src="css/img/cash.png">
	    					<div class="prize1-text">
	    						Cash</div>
	    				</div>
	    				<div class="prizes2">
	    					<img src="css/img/coupons.png">
	    					<div class="prize2-text">Coupons</div>	
	    				</div>
	    				<div class="prizes3">
	    					<img src="css/img/travel.png">
	    					<div class="prize3-text">Air Tickets</div>	
	    				</div>	
	    		</div>
	    	</div>
	    </div>
   
</div>